<div id="todo_app">
  <h1>Todos</h1>
  <div class="creator"><input placeholder="What do you need to do?"></div>
  <ul></ul>
</div>

<script type="text/template" id="todo-template"> 
  <span class="description"><%%= description %></span>
  <a class="delete">Slet</a>
</script>

<%= javascript_include_tag(
  'models/todo',
  'collections/todo_collection',
  'apps/todo_manager',
  'apps/todo_manager/views/main',
  'apps/todo_manager/views/creator',
  'apps/todo_manager/views/todo',
  'apps/todo_manager/initializer'
) %>
