<div id="todo_app">
  <h1>Todos</h1>
  <div class="creator"><input placeholder="What do you need to do?"></div>
  <ul></ul>
</div>

<%= javascript_include_tag(
  'models/todo',
  'collections/todo_collection',
  'apps/todo_manager',
  'apps/todo_manager/views/app_view',
  'apps/todo_manager/initializer'
) %>
